//*************** Variables *********************
$color1: rgba(0, 0, 255, 0.377);
$colorhover: rgba(107, 27, 153, 0.884);
$white: rgb(241, 241, 241);
$black: rgb(23, 23, 23);

//*************** mixins *********************
@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dividingLine {
  content: "";
  position: absolute;
  height: 114.5%; /* Hauteur de 100% pour couvrir toute la hauteur de l'élément parent */
  width: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: -50px;
  right: -10px;
}

//*************** fonts *********************

@font-face {
  font-family: "Merriweather-Light";
  src: url(./assets/fonts/Merriweather-Light.ttf);
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url(./assets/fonts/Inter-ExtraBold.ttf);
}

//***************html***********************
// Permet un défilement plus doux
html {
  scroll-behavior: smooth;
}

//*************** body *********************

body {
  background: url(./assets/img/bg.jpg) no-repeat fixed center/cover;
  margin: 0 auto;
  max-width: 1200px;
}

// animation opacity mais fait bugguer mon code

// body::before {
//   content: "";
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   background: $black;
//   animation: animBefore 1.5s ease forwards;
// }

@keyframes animBefore {
  to {
    opacity: 0;
  }
}

//**************Parametres generaux**************

* {
  font-family: "Merriweather-Light";
  padding: 0;
  margin: 0 0px;
  list-style: none;
  box-sizing: border-box;
  margin-block: 0;
  outline: none;
  text-decoration: none;
}

// **************Taille des polices****************

h1 {
  font-size: 3rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: $white;
  letter-spacing: 5px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: $black;
  letter-spacing: 2px;
}
h3 {
  font-size: 1.2rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: $black;
  letter-spacing: 4px;
}

h4 {
  font-size: 1rem;
  color: $black;
  font-weight: 100;
}

h5 {
  font-size: 0.9rem;
  font-family: "Inter-ExtraBold";
  color: $black;
  text-transform: uppercase;
}

p {
  font-size: 0.9rem;
  color: $black;
  font-style: italic;
  line-height: 2.5;
}

label {
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: gray;
  letter-spacing: 1px;
  margin: 0 auto;
}

span {
  font-size: 0.8rem;
  color: rgb(128, 128, 128);
}
