@charset "UTF-8";
@font-face {
  font-family: "Merriweather-Light";
  src: url(./assets/fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url(./assets/fonts/Inter-ExtraBold.ttf);
}
html {
  scroll-behavior: smooth;
}

body {
  background: url(./assets/img/bg.jpg) no-repeat fixed center/cover;
  margin: 0 auto;
  max-width: 1200px;
}

@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}

@keyframes animBefore {
  to {
    opacity: 0;
  }
}
* {
  font-family: "Merriweather-Light";
  padding: 0;
  margin: 0 0px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-block: 0;
  outline: none;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(241, 241, 241);
  letter-spacing: 5px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(23, 23, 23);
  letter-spacing: 2px;
}

h3 {
  font-size: 1.2rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: rgb(23, 23, 23);
  letter-spacing: 4px;
}

h4 {
  font-size: 1rem;
  color: rgb(23, 23, 23);
  font-weight: 100;
}

h5 {
  font-size: 0.9rem;
  font-family: "Inter-ExtraBold";
  color: rgb(23, 23, 23);
  text-transform: uppercase;
}

p {
  font-size: 0.9rem;
  color: rgb(23, 23, 23);
  font-style: italic;
  line-height: 2.5;
}

label {
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  color: gray;
  letter-spacing: 1px;
  margin: 0 auto;
}

span {
  font-size: 0.8rem;
  color: rgb(128, 128, 128);
}

.button {
  border: 1px solid rgb(23, 23, 23);
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(23, 23, 23);
  font-size: 0.7rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.button:hover {
  background: rgba(107, 27, 153, 0.884);
  border-color: rgba(107, 27, 153, 0.884);
  color: rgb(241, 241, 241);
  cursor: pointer;
}

.footer-social a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer-social a:hover {
  background: rgba(107, 27, 153, 0.884);
  border-color: rgba(107, 27, 153, 0.884);
  color: rgb(241, 241, 241);
}

form {
  text-align: center;
  position: relative;
  padding: 0px 0;
  max-width: 1000px;
}

.formulaire {
  background: rgb(241, 241, 241);
  text-align: left;
  padding: 20px 0px 30px 0;
}
.formulaire .name,
.formulaire .email,
.formulaire .message {
  padding: 0 50px;
  margin: 20px 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.formulaire input[type=text],
.formulaire textarea {
  width: 100%;
  margin: 15px 0px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  resize: none;
  background: rgb(241, 241, 241);
}
.formulaire input[type=text]:focus,
.formulaire textarea:focus {
  border: 1px solid rgba(107, 27, 153, 0.884);
}
.formulaire textarea {
  padding: 0px 0 100px 0;
}
.formulaire .button {
  margin: 0 0 0 50px;
}

header {
  min-height: 100vh;
  position: relative;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0px auto;
  text-align: center;
  max-width: 500px;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s ease forwards;
          animation: headerAnim 1.5s ease forwards;
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header .header-content i {
  border: 1px solid rgb(241, 241, 241);
  padding: 10px;
  border-radius: 100px;
  text-decoration: none;
  color: rgb(241, 241, 241);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
header .header-content i:hover {
  background: rgba(107, 27, 153, 0.884);
  border-color: rgba(107, 27, 153, 0.884);
}
header .header-content h1,
header .header-content p,
header .header-content i {
  margin-bottom: 30px;
}
header .header-content p {
  color: rgb(241, 241, 241);
}

nav {
  background-color: rgba(255, 255, 255, 0.13);
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  bottom: 0;
  position: absolute;
  color: rgb(241, 241, 241);
}
nav .nav-left {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
nav .nav-left:hover li:not(:hover) {
  background: none;
  color: rgb(241, 241, 241);
}
nav .nav-left li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background: transparent;
  -webkit-transition: 0.5s, padding 0.5s;
  transition: 0.5s, padding 0.5s;
  cursor: pointer;
}
nav .nav-left li:first-child {
  color: black;
  background-color: rgb(241, 241, 241);
}
nav .nav-left li:hover {
  color: black;
  background-color: rgb(241, 241, 241);
}
nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-width: 100px;
  max-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav .nav-right li {
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav .nav-right li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
nav i {
  color: rgb(241, 241, 241);
}

main {
  background: rgb(241, 241, 241);
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 30px 0;
}

.section-1 {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 0 60px 0; /* Espacement général de la section */
}
.section-1 p {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 0 0 25px 0;
}

.section-1 h4 {
  position: relative;
}
.section-1 h4:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: 15px;
  left: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-1 h4:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: 15px;
  right: -10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-1 h2 {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px 0;
}
.section-1 .img-section-1 {
  display: block;
  background: url(./assets/img/pic01.jpg) no-repeat center/cover;
  height: 60vh;
  margin: 10px 50px 50px 50px;
}

.section-2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.082);
  margin: 0px auto;
  padding-top: 50px;
}

.section-2,
.section-3 {
  max-width: 1000px;
  margin: 0 10px;
  padding: 25px 0;
}
.section-2 h4,
.section-2 h3,
.section-2 p,
.section-3 h4,
.section-3 h3,
.section-3 p {
  margin-bottom: 30px; /* Espacement entre chaque élément */
  max-width: 800px;
}
.section-2 h3,
.section-3 h3 {
  max-width: 800px;
  margin: 0 auto;
  max-inline-size: 2;
}
.section-2 p,
.section-3 p {
  text-align: justify;
  margin: 0 25px;
  padding-bottom: 25px;
}

.section-2 {
  position: relative;
}
.section-2:before {
  content: "";
  position: absolute;
  height: 114.5%; /* Hauteur de 100% pour couvrir toute la hauteur de l'élément parent */
  width: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: -50px;
  right: -10px;
}

.img-section-2,
.img-section-3 {
  display: block;
  height: 25vh;
  margin: 10px 20px 30px 20px;
  padding-bottom: 50px;
}

.img-section-2 {
  background: url(./assets/img/pic02.jpg) no-repeat center/cover;
}

.img-section-3 {
  background: url(./assets/img/pic03.jpg) no-repeat center/cover;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(241, 241, 241);
  margin: 30px 0;
}
footer::before {
  content: "";
  position: absolute;
  height: 100.5%;
  width: 1px;
  background: rgba(0, 0, 0, 0.082);
  top: -1px;
  right: 599px;
}
footer ul {
  margin: 0 auto;
  width: 100%;
}

.footer-adress,
.footer-phone,
.footer-email,
.footer-social {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px 40px;
  border-bottom: solid 1px lightgrey;
  border-left: solid 1px lightgrey;
  text-align: left;
}
.footer-adress h5,
.footer-phone h5,
.footer-email h5,
.footer-social h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px 0 0;
  margin: 0 auto;
}

.footer-social {
  border-bottom: 0px;
}
.footer-social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-social a {
  border: solid 1px lightgray;
  border-radius: 100px;
  padding: 15px 15px;
  margin: 0 12px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header-content h1 {
    font-size: 1.9rem;
  }
  .header-content p {
    font-size: 0.9rem;
    margin: 50px 50px;
    line-height: 1;
  }
  nav .nav-right {
    display: none;
  }
  body {
    max-width: 80%;
  }
  .section-1 .img-section-1 {
    display: block;
    height: 25vh;
  }
  .section-1 p {
    line-height: 3; /* Hauteur de ligne (ajustez selon vos besoins) */
    max-width: 80%;
  }
  .section-2-3 {
    display: block;
  }
  .img-section-2,
  .img-section-3 {
    width: auto;
  }
  footer {
    display: block;
  }
  .footer-adress {
    border-top: solid 1px lightgray;
  }
}/*# sourceMappingURL=index.css.map */