// Boutons principaux

.button {
  border: 1px solid $black;
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  color: $black;
  font-size: 0.7rem;
  font-family: "Inter-ExtraBold";
  text-transform: uppercase;
  transition: 0.7s;

  &:hover {
    background: $colorhover;
    border-color: $colorhover;
    color: $white;
    cursor: pointer;
  }
}

// Ancre

.footer-social a {
  transition: 0.5s;
  &:hover {
    background: $colorhover;
    border-color: $colorhover;
    color: $white;
  }
}
