footer {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  background: $white;
  margin: 30px 0;
  // max-width: 1200px;

  &::before {
    content: "";
    position: absolute;
    height: 100.5%;
    width: 1px;
    background: rgba(0, 0, 0, 0.082);
    top: -1px;
    right: 599px;
  }

  ul {
    margin: 0 auto;
    width: 100%;
  }
}

//******************ADRESS*********************

.footer-adress,
.footer-phone,
.footer-email,
.footer-social {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px 40px;
  border-bottom: solid 1px lightgrey;
  border-left: solid 1px lightgrey;
  text-align: left;

  h5 {
    display: flex;
    // justify-content: center;
    // align-items: center;

    padding: 0 100px 0 0;
    margin: 0 auto;
  }
}

.footer-social {
  border-bottom: 0px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    border: solid 1px lightgray;
    border-radius: 100px;
    padding: 15px 15px;
    margin: 0 12px;
    color: black;
    display: flex;
    justify-content: space-between;
  }
}
