// *******************************************Section ALL****************************************
main {
  background: $white;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 30px 0;
}

// ********************************************Centrer toutes les sections ****************************************

.section-1 {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 0 60px 0; /* Espacement général de la section */

  p {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 0 0 25px 0;
  }
}

// ********************************************Section 1 ****************************************

.section-1 {
  h4 {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 30%;
      height: 1px;
      background: rgba(0, 0, 0, 0.082);
      top: 15px;
      left: 20%;
      transform: translateX(-50%);
    }

    &:after {
      content: "";
      position: absolute;
      width: 30%;
      height: 1px;
      background: rgba(0, 0, 0, 0.082);
      top: 15px;
      right: -10%;
      transform: translateX(-50%);
    }
  }

  h2 {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px 0;
  }

  .img-section-1 {
    display: block;
    background: url(./assets/img/pic01.jpg) no-repeat center/cover;
    height: 60vh;
    margin: 10px 50px 50px 50px;
  }
}

// ********************************************Section 2 et 3 Flex ****************************************

.section-2-3 {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.082);
  margin: 0px auto;
  padding-top: 50px;
}

// ***********************************************Section 2 et 3 *****************************************

.section-2,
.section-3 {
  max-width: 1000px;
  margin: 0 10px;
  padding: 25px 0;

  h4,
  h3,
  p {
    margin-bottom: 30px; /* Espacement entre chaque élément */
    max-width: 800px;
  }

  h3 {
    max-width: 800px;
    margin: 0 auto;
    max-inline-size: 2;
  }

  p {
    text-align: justify;
    margin: 0 25px;
    padding-bottom: 25px;
  }
}

// ***************************************Trait du milieu de separation ******************************
.section-2 {
  position: relative;

  &:before {
    @include dividingLine;
  }
}

.img-section-2,
.img-section-3 {
  display: block;

  height: 25vh;

  margin: 10px 20px 30px 20px;
  padding-bottom: 50px;
}

.img-section-2 {
  background: url(./assets/img/pic02.jpg) no-repeat center/cover;
}

.img-section-3 {
  background: url(./assets/img/pic03.jpg) no-repeat center/cover;
}
