// @media screen and (max-width: 466px) {
//   .footer-social {
//     width: 100%;

//     i {
//       padding: 1px;
//       margin: 1px;
//     }
//   }
// }

// responsive telephone

@media screen and (max-width: 768px) {
  .header-content {
    h1 {
      font-size: 1.9rem;
    }

    p {
      font-size: 0.9rem;
      margin: 50px 50px;
      line-height: 1;
    }
  }

  nav {
    .nav-right {
      display: none;
    }
  }

  body {
    max-width: 80%;
  }

  .section-1 .img-section-1 {
    display: block;

    height: 25vh;
  }

  .section-1 {
    p {
      //   min-height: 1em; /* Définit la hauteur minimale à 7 lignes */
      //   white-space: pre-line; /* Préserve les sauts de ligne dans le texte */
      line-height: 3; /* Hauteur de ligne (ajustez selon vos besoins) */
      max-width: 80%;
    }
  }

  .section-2-3 {
    display: block;
  }

  .img-section-2,
  .img-section-3 {
    width: auto;
  }

  footer {
    display: block;
  }

  .footer-adress {
    border-top: solid 1px lightgray;
  }
}

// responsive tablette

// @media screen and (max-width: 972px) {
//   .footer-social i {
//     padding: 13px 13px;
//     margin: 2px 2px;
//   }
// }
